<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onandon.cafe.cafekioskapi.mapper.TestMapper">

    <select id="getMenuList" resultType="com.onandon.cafe.cafekioskapi.dto.coffee.Coffee" parameterType="String">
        SELECT *
          FROM menuList
         WHERE 1=1
           AND type = #{type}
    </select>

    <insert id="addMenuList" parameterType="com.onandon.cafe.cafekioskapi.dto.coffee.Coffee">
        INSERT INTO menuList (name, price, menuInfo, type )
        values ( #{name}, #{price}, #{menuInfo}, #{type} )
    </insert>

    <delete id="delMenuList" parameterType="int">
        DELETE
          FROM menuList
         WHERE menu_no = #{menu_no}
    </delete>

</mapper>
